*{
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
}

li {
list-style: none;
}

h1, h2, h3, h4, h5, h6 {
font-size: inherit;
font-weight: inherit;
}

a {
color: inherit;
text-decoration: none;
display: block;
}

p a {
display: inline;
}
img, picture, video, iframe, svg {
display: block;
width: 100%;
height: initial;
}
svg {
fill: currentColor;
}

:root {
font-size: 100%;
}
html {
scroll-behavior: smooth;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 1.75rem 2.5rem;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    color: #373737;
}
.header__h1 {}
.header__logo {
    min-width: 150px;
}
.header__nav {}
.header__ul {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    gap: 1.25rem;
}
.header__li{}
.header__li:hover { color: #77875b;}
.header__menu {
    font-size: 1.5625rem;
    cursor: pointer;
}

.main {
    margin: auto;
    padding: .625rem;
}
.main__wrapper {
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-auto-flow: dense;

    gap: .70rem;
}
.main__img {
   
}
.main__img--large {
    grid-row: span 2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.main__img--larger {
    
    grid-row: span 2;
    grid-column: span 2;
    column-gap: 0;
}
.main__img--wide {
    grid-column: span 2;
    column-gap: 0;
}

.footer {
    width: 50%;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgb(132, 132, 132);
}
.footer__wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.footer__logo {
    padding: 5rem 0 2rem;
}
.footer__quote {
    width: 18.75rem;
    padding-bottom: 2rem;
    text-align: center;
}
.footer__nav {
    width: 10%;
    padding-bottom: 7rem;
}
.footer__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #373737;
    gap: 1.25rem;
}
.footer__rights {
    font-size: 13px;
    padding-bottom: 2rem;
}

@media (max-width: 1360px ) {
    .main__wrapper {
    
    grid-template-columns: repeat(4 , 1fr); 
}
}
@media (max-width: 1024px ) {
    .main__wrapper {
    
    grid-template-columns: repeat(3 , 1fr); 
}
    .header__li {
        display: none;
    }
}
@media (max-width: 768px ) {
    .main__wrapper {
    
    grid-template-columns: repeat(2 , 1fr); 
}
}
@media (max-width: 435px ) {
    .main__wrapper {
    
    grid-template-columns:  1fr; 
    column-gap: 0;
    
}
    .main__img--larger{
        grid-row: span 1;
        grid-column: span 1;
    }
    .main__img--wide {
        grid-row: span 1;

    }

}
